
.show-password-checkbox {
    width: 18px;
    margin-right: 6px;
    opacity: 0;
  }
  
  .custom-checkmark {
    position: relative;
    height: 18px;
    width: 18px;
    border: 2px solid #888;
    border-radius: 2px;
    display: inline-block;
    margin-right: 12px;
    transition: background-color .2s ease;
  }
  
  .label-password-checkbox:hover .custom-checkmark {
    border-color: #aaa;
    transition: background-color .3s ease;
  }
  
  .custom-checkmark::before {
    content: ' ';
    border-radius: 50%;
    border: 1px solid transparent;
    background-color: #88888830;
    width: 0;
    aspect-ratio: 1/1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    transition: width .2s ease;
  }
  
  .label-password-checkbox:hover .custom-checkmark::before {
    width: 200%;
    transition: width .3s ease;
  }
  
  .label-password-checkbox:hover {
    color: #aaa;
    transition: color .3s ease;
  }
  
  .show-password-checkbox:checked+.custom-checkmark {
    background-color: blueviolet;
    border: none;
    transition: background-color .2s ease, border .2s ease;
  }
  
  .custom-checkmark:after {
    content: "";
    position: absolute;
    display: none;
    bottom: 0;
    right: 0;
  }
  
  .show-password-checkbox:checked+.custom-checkmark:after {
    display: block;
  }
  
  .custom-checkmark:after {
    left: 5px;
    top: 2px;
    width: 6px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    transition: color .2s ease;
    animation: fadeInMoveUp .2s ease;
  }
  
  .label-password-checkbox:has(.show-password-checkbox:checked) {
    color: blueviolet;
    user-select: none;
    transition: color .2s ease;
  }
  
  .label-password-checkbox {
    user-select: none;
    color: #888;
    display: flex;
    justify-content: start;
    align-items: start;
    align-self: start;
    margin-left: 4%;
    transition: color .2s ease;
    cursor: pointer;
  }
  