.password-ins {
    height: fit-content;
}

.password-ins .text-button {
    user-select: none;
    height: 16px;
    cursor: pointer;
    -webkit-font-smoothing: antialiased;
    text-align: center;
    font: 100% "Helvetica Neue", Arial, sans-serif;
    border: none;
    outline: none;
    display: flex;
    justify-content: center;
    font-weight: bold;
    background: transparent;
    color: #88888890;
    transition: .3s ease;
    position: relative;
    transition: color .2s ease;
    z-index: 1;
}

.password-ins .text-button:hover {
    color: blueviolet;
    background: transparent;
    transition: color .3s ease;
}

.password-ins .text-button:active {
    color: white;
    filter: blur(4px);
    opacity: 0;
    transition: color ease-out .2s, filter ease-in .4s, opacity ease 1s;
}

.password-ins div {
    color: #888;
    font-size: 80%;
    width: 100%;
    user-select: none;
    cursor: default;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: row;
    display: flex;
}

.password-ins p {
    animation: fadeInMoveUpNoTrans .3s ease;
}


.password-ins li {
    color: #888;
    font-size: 80%;
}

.password-ins section {
    padding: 12px;
}

.password-ins h4 {
    margin-left: 12px;
}
